body {
  color: white;
  background-color: black;
  padding: 1em;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  --randomColor: Math.floor(Math.random()*16777215).toString(16);
}

h1 {
    color: green;
}

header {
  font-weight: bold;
  padding-top: 1em;
}


/*.txt {

}*/
section {
  order: -1;
}

#message {
  width: 100%;
}

#compteur {
  float: right;
}

#zone_chat strong {
    color: white;
    background-color: black;
}

#pseudo {
  font-weight: bold;
  background-color: white;
  margin-right: 1em;
}
